OPENAI_API_KEY=YOUR_OPENAI_API_KEY

# This is to prevent the Cross-site POST form submissions are forbidden error (https://kit.svelte.dev/docs/adapter-node#environment-variables-origin-protocolheader-and-hostheader)
ORIGIN=http://localhost:3000
